* {
    margin:0;
}


#center {
    background:url(../Img/neon.jpg);
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#center > #body {
    align-items: center;
    justify-content: center;
    border:2px #fff solid;
    width: 800px;
    height: 500px;
    border-radius: 10px;
}

#center > div > form > div {
    margin-top:10px;
}
table{
    display: flex;
    margin: 20px;
    
}

.select {
    font-size:17px;
    color: whitesmoke;
    background: transparent;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    width: 170px;
}

a {
    font-size: 17px;
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration:underline;
    color:royalblue;
}