* {
    margin:0;
}

#center {
    background:url(../Img/neon.jpg);
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#center > div {
    /* background:white; */
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px #fff solid;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#center > div > form > div {
    margin-top:10px;
}

#center > div > form > div > label {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

#center > div > form > div > a {
    font-size: 17px;
    text-decoration: none;
    color: whitesmoke;
}

#center > div > form > div > a:hover {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration:underline;
    color:royalblue;
}

#center > div > form > div >input { 
    border:2px solid #000;
    border-radius: 5px;
}
